__pycache__/
*.DS_Store
.env
.pytest_cache
*.ll

/.vs/littlelearners/v16/.suo
/.vs/slnx.sqlite

.vscode/

/.vs/ProjectSettings.json
/.vs/Repo/v16/.suo
/.vs/PythonSettings.json
/error.log
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/Macro/screens.png

*.bat
changeCNF.py
/.vs/tasks.vs.json
/.vs/littlelearnersvs/v16/.suo
/.vs/littlelearnersvs/v16/Browse.VC.db
/littlelearners.pyproj
/littlelearners.sln
/littlelearners.pyproj.user
/Macro/Capture.png
/Macro/login_logo.png

.cnf
timezone
/Macro/UserImages/fullpagescreen.png
/Macro/UserImages/fullpagescreen2.png
/Macro/UserImages/pageimage.png
/desktopApp/error.log
.Xauthority
display

token.json
/TextFile1.txt
/Macro/MacroImages
/desktopApp/Macro/screens.png
/desktopApp/Macro/MacroImages
timezone
